<aside>
  <a href="/" class="title">Art<span>Fisio</span></a>
  <nav>
    <a class="calendario <% if(page == 'calendario') {%> selected <% } %>" href="/calendario"><i class="ri-calendar-line"></i>Calendário</a>
    <a class="profissionais <% if(page == 'profissionais') {%> selected <% } %>" href="/profissionais"><i class="ri-user-3-line"></i>Profissionais</a>
    <div id="divisor"></div>
    <a class="config" href=""><i class="ri-settings-3-line"></i>Cofigurações Conta</a>
  </nav>
</aside>