<aside>
  <a href="/" class="title">Art<span>Fisio</span></a>
  <nav>
    <a class="calendario <% if(page == 'calendario') {%> selected <% } %>" href="/calendario"
      >Calendário</a
    >
    <a class="profissionais" href="">Profissionais</a>
    <div id="divisor"></div>
    <a class="config" href="">Cofigurações Conta</a>
  </nav>
</aside>