<header>
  <input onclick="setAside()" type="checkbox" id="x-hamburger" />

  <label for="x-hamburger">
    <div class="x-hamburger"></div>
  </label>

  <div class="right">
    <div class="icon bell"></div>

    <!-- <span>Samuel Serra</span>
    <div class="perfil"></div> -->
    <script
      type="text/javascript"
      src="https://unpkg.com/micromodal/dist/micromodal.min.js"
    ></script>
    <script type="text/javascript" src="./js/modal.js"></script>

    <button onclick="openModal()" type="button" class="primary">
      Entre ou Cadastre-se
    </button>

    <!-- <div class="icon arrow"></div> -->

    <i class="ri-moon-line" id="theme-button"></i>
  </div>

  <script src="./js/darkMode.js"></script>
</header>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <div class="modal__header">
        <h2 class="modal__title" id="modal-1-title">Cadastre-se</h2>
        <button
          class="modal__close"
          aria-label="Close modal"
          data-micromodal-close
        ></button>
      </div>
      <div class="modal__content" id="modal-1-content">
        <form>
          <div class="input-container">
            <label for="email">Digite o seu email</label>
            <div class="input">
              <i class="ri-mail-line"></i>
              <input id="email" name="email" type="text" />
            </div>
          </div>

          <div class="input-container">
            <label for="pass">Digite a sua senha</label>

            <div class="input">
              <i class="ri-lock-line"></i>
              <input id="pass" name="pass" type="password" />
            </div>
          </div>
        </form>
        <div class="show-password">
          <input onchange="showPass()" type="checkbox" name="show-pass" id="" />
          <p>Mostrar senha</p>
        </div>
      </div>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary">Cadastrar</button>
      </footer>
    </div>
  </div>
</div>
