<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/home.css" />

    <title>ArtFisio</title>
  </head>
  <body>
    <%- include('../views/partials/aside') %> 
    <main>
      <header>
        <div class="icon bell"></div>
        <span>Samuel Serra</span>
        <div class="perfil"></div>
        <div class="icon arrow"></div>
        <div class="icon btt-darkmode"></div>
      </header>
      <div class="conteiner">
        <div class="main-content">
          <div class="main-text">
            <h1>Melhore sua <span>saúde</span> e <span>bem estar</span></h1>
            <p>
              Uma clínica em Belo Horizonte especializada em tratamentos
              fisioterapeuticos.
            </p>
            <button>Agendar um horário</button>
          </div>
          <div class="img-home"></div>
        </div>
      </div>
    </main>
  </body>
</html>
