* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--branco);
}

:root {
  --cor-principal: #4ea594;
  --cor-principal-hover: rgb(51, 109, 97);
  --cor-black: rgba(0, 0, 0, 0.7);
  --branco: aliceblue;
  --cor-cinza: #d7d7d7;
}

span {
  color: var(--cor-principal);
}

/* === DARK THEME === */
body.dark-theme {
  --cor-principal: #4ea594;
  --cor-principal-hover: rgb(51, 109, 97);
  --cor-black: aliceblue;
  --cor-cinza: rgb(58, 97, 89);
  --branco: #001c0f;
}

/* === MODAL === */

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: aliceblue;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 8px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 0.5px solid;
  padding: 10px 0;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--cor-principal);
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: black;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 20rem;
  line-height: 1.5;
  color: black;
}

.modal__content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label, .show-password p {
  color: var(--cor-principal);
}

.input {
  display: flex;
  align-items: center;
}

.input i {
  position: absolute;
  left: 40px;
  color: var(--cor-principal);
}

.input-container input#email, input#pass {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: .4rem .6rem .4rem 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 20rem;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.show-password {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  column-gap: .6rem;
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: var(--cor-principal);
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

/* === BUTTON === */

.x-hamburger {
  height: 30px;
  width: 30px;
  background-color: var(--cor-principal);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  display: none;
}

.x-hamburger::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 10%;
  top: 30%;
  left: 15%;
  border-radius: calc((50vh * 0.2) / 2);
  background-color: var(--branco);
  transition: transform 0.5s;
}

.x-hamburger::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 10%;
  top: 60%;
  left: 15%;
  border-radius: calc((50vh * 0.2) / 2);
  background-color: var(--branco);
  transition: transform 0.5s;
}

#x-hamburger {
  display: none;
}

#x-hamburger:checked ~ label > .x-hamburger::before {
  transform: translate(0, 150%) rotateZ(225deg);
}

#x-hamburger:checked ~ label > .x-hamburger::after {
  transform: translate(0, -150%) rotateZ(-225deg);
}

button.primary {
  background-color: var(--cor-principal);
  color: var(--branco);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

button.primary:hover {
  background-color: var(--cor-principal-hover);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

/* === ASIDE === */

@keyframes setAside {
  0% {
    margin-left: -100px;
  }
}

aside.active {
  display: flex;
  animation: setAside 0.4s;
}

aside {
  width: 20rem;
  height: 100%;
  background-color: var(--cor-cinza);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 10px 0 0;
}

aside a.title {
  color: #004022;
  margin: 1.5rem;
  letter-spacing: 0.8px;
  font-size: 1.8rem;
  width: 82%;
  text-align: left;
}

aside nav {
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 0.8rem;
}

aside nav a {
  color: var(--cor-black);
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  margin-left: 0.1rem;
  padding: 0.7rem;
  border-radius: 1rem;
}

aside nav a.selected {
  transition: 0.2s;
  background-color: var(--branco);
  color: var(--cor-principal);
  border-radius: 1rem;
}

aside nav a:hover {
  transition: 0.2s;
  background-color: var(--branco);
  color: var(--cor-principal);
  border-radius: 1rem;
}

aside nav #divisor {
  border-bottom: solid 0.5px var(--cor-black);
  margin: 1rem;
}

/* === HEADER ===  */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cor-principal);
  column-gap: 1rem;
  padding: 1rem;
  border-bottom: solid 0.5px var(--cor-black);
}

header div.right {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

div.perfil {
  background: url("/assets/eu.jpeg") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.icon:hover {
  filter: brightness(0.6);
}

.icon.bell {
  background: url("/assets/bell.svg") no-repeat;
  background-size: contain;
}

#theme-button {
  cursor: pointer;
}

.icon.arrow {
  background: url("/assets/arrow.svg") no-repeat;
  border-radius: 100px;
  background-size: contain;
  background-position: center;
  transition: ease-in-out 0.2s;
}

.icon.arrow:hover {
  transform: translateY(3px);
}

header button {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
}

/* === MAIN ===  */

main {
  width: 80%;
  height: 100%;
  margin-left: 2rem;
  transition: ease-in-out 0.4s;
  color: var(--cor-black);
}

/* === RESPONSIVIDADE === */

@media (max-width: 1400px) {
  .x-hamburger {
    display: block;
  }

  aside {
    animation: setAside 0.2s;
    display: none;
  }

  main {
    width: 100%;
    margin-right: 2rem;
  }
}
