/* === MAIN ===  */

main .conteiner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
}

main .main-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  row-gap: 1rem;
}

main .main-content h1 {
  width: 30rem;
  font-size: 3.2rem;
  font-weight: 100;
}

main .main-content h1 span {
  color: var(--cor-principal);
}

main .main-content p {
  width: 30rem;
  margin: 1.4rem 0;
}

.img-home {
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  background: var(--cor-principal);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-home::after {
  content: "";
  position: absolute;
  background: url("/assets/slide/img.svg") no-repeat;
  right: 2rem;
  top: 2rem;
  z-index: -100;
  display: flex;
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  background-size: cover;
}

/* === BUTTON === */

main .main-content button {
  padding: 0.5rem 0.6rem;
  font-size: 1rem;
  border-radius: 10px;
}

/* === RESPONSIVIDADE === */

@media (max-width: 1200px) {
  main .main-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    row-gap: 4rem;
    margin-top: 2rem;
  }
}